body {
    font-family: Arial, sans-serif;
    background-color: #eae8d4;
    color: #355070;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6d597a;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #eae8d4;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #eae8d4;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #b56576;
    color: #eae8d4;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
